In [ ]:
Python is a programming language. Juupiter is a notebook which provides cells to type in python code and run it

In [1]:
height = 2160
width = 3840
height

2160

In [2]:
width

3840

In [3]:
total_pixels= width*height
total_pixels

8294400

In [7]:
type(total_pixels)

int

In [10]:
first_name = 'Sukhada'
last_name = 'Chiplunkar'
full_name = first_name + " " +last_name
full_name

'Sukhada Chiplunkar'

In [15]:
mystery = [{ 'abc' : 'def'}]
type(mystery)

list

In [18]:
type(mystery[0])

dict

In [20]:
import pandas as pd
df =  pd.DataFrame([['Coffee',310],['Tea',90]], 
                  columns = ['beverage', 'caffeine'])
df

  beverage  caffeine
0   Coffee       310
1      Tea        90

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.dtypes

beverage    object
caffeine     int64
dtype: object

In [26]:
del pd
df =  pd.DataFrame([['Coffee',310],['Tea',90]], 
                  columns = ['beverage', 'caffeine'])
df

NameError: name 'pd' is not defined

In [27]:
import pandas as pd
df =  pd.DataFrame([['Coffee',310],['Tea',90]], 
                  columns = ['beverage', 'caffeine'])
df

  beverage  caffeine
0   Coffee       310
1      Tea        90

In [28]:
type(pd)

module